:root {

}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: 'Fira Mono', monospace;
}

header {
  background-color: gray;
  height: 6%;

  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.action-buttons * {
  padding: 6px;
  border: 1px dotted;
  border-radius: 0.8rem;
}

.action-buttons *:hover {
  background-color: purple;
}

#app {
  display: grid;
  grid-template-columns: 1fr 6fr;
  height: 100%;
}

#projectMenu {
  font-weight: 850;
  font-size: 1.3rem;
  padding: 1rem 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: silver;
  height: 100%;
}

#todoHolder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 0.5rem;
  padding: 1rem;
}

#todoHolder>div {
  background-color: #51e2f5;
}

#modal {
  width: 40ch;
  height: 200px;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  padding: 1rem;
  color: white;
}

.close {
  color: #aaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.todo-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  word-break: break-all;
  text-wrap: wrap;
  overflow: hidden;
}

.project-item {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.project-item:hover {
  background-color: pink;
}

.project-item.selected-project {
  background-color: pink;
  font-style: italic;
}

#todoHolder .todo-item.done {
  background-color: black;
  color: white;
  text-decoration: line-through;
}
